/* line 4, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 3, ../../sass/components/_breadcrumb.sass */
.breadcrumb li {
  list-style-type: none;
  display: inline-block; }

/* line 3, ../../sass/components/_navigation.sass */
#navigation li {
  list-style-type: none;
  display: inline-block; }

/* line 8, ../../sass/components/_navigation.sass */
#block-katietheme-main-menu ul.menu {
  list-style-type: none;
  padding-bottom: 0;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: slategrey;
  position: fixed;
  top: 79px;
  width: 100%;
  z-index: 99999; }
  /* line 18, ../../sass/components/_navigation.sass */
  #block-katietheme-main-menu ul.menu li.menu-item {
    float: left; }
    /* line 20, ../../sass/components/_navigation.sass */
    #block-katietheme-main-menu ul.menu li.menu-item .is-active {
      background-color: #06c; }
    /* line 22, ../../sass/components/_navigation.sass */
    #block-katietheme-main-menu ul.menu li.menu-item:hover {
      background-color: #06c; }
    /* line 24, ../../sass/components/_navigation.sass */
    #block-katietheme-main-menu ul.menu li.menu-item a {
      display: block;
      text-align: center;
      padding: 16px;
      font-size: large;
      font-weight: bold;
      color: whitesmoke; }

/* line 32, ../../sass/components/_navigation.sass */
li.menu-item {
  float: right; }
  /* line 34, ../../sass/components/_navigation.sass */
  li.menu-item a {
    padding-left: 10px; }

/* line 2, ../../sass/components/_site-name.sass */
#block-katietheme-branding {
  position: relative;
  top: 30px;
  padding-bottom: 20px; }

/* line 6, ../../sass/components/_site-name.sass */
.site-info {
  display: inline-block;
  vertical-align: bottom; }

/* line 10, ../../sass/components/_site-name.sass */
.site-name {
  display: inline;
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0.5em 0 0.5em;
  margin: 0; }
  /* line 17, ../../sass/components/_site-name.sass */
  .site-name a {
    vertical-align: bottom; }

/* line 19, ../../sass/components/_site-name.sass */
.site-slogan {
  font-style: italic; }

/* line 23, ../../sass/components/_site-name.sass */
.site-logo img {
  width: 200px; }

/* line 1, ../../sass/components/_pager.sass */
.pager__item {
  display: inline; }
  /* line 4, ../../sass/components/_pager.sass */
  .pager__item a {
    display: inline-block; }

/* line 2, ../../sass/components/_sidebar.sass */
#sidebar-first .term {
  padding: 10px;
  background-color: whitesmoke; }
/* line 5, ../../sass/components/_sidebar.sass */
#sidebar-first .team-logo {
  display: inline-block;
  float: left;
  vertical-align: center; }
/* line 9, ../../sass/components/_sidebar.sass */
#sidebar-first .team-name-vocab {
  display: inline-block; }
  /* line 11, ../../sass/components/_sidebar.sass */
  #sidebar-first .team-name-vocab p.tax-term {
    text-transform: uppercase;
    vertical-align: top;
    display: inline-block;
    padding: 0; }
  /* line 16, ../../sass/components/_sidebar.sass */
  #sidebar-first .team-name-vocab div.quickedit-field {
    display: inline-block;
    padding: 0; }
  /* line 19, ../../sass/components/_sidebar.sass */
  #sidebar-first .team-name-vocab h3.team-name {
    margin: 0;
    padding: 0; }
