/* line 4, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 3, ../../sass/components/_breadcrumb.sass */
.breadcrumb li {
  list-style-type: none;
  display: inline-block; }

/* line 5, ../../sass/components/_navigation.sass */
#navigation li {
  list-style-type: none;
  display: inline-block; }

/* line 9, ../../sass/components/_navigation.sass */
#block-katietheme-main-menu ul.menu {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: slategrey;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999; }
  /* line 19, ../../sass/components/_navigation.sass */
  #block-katietheme-main-menu ul.menu li.menu-item {
    float: left; }
    /* line 21, ../../sass/components/_navigation.sass */
    #block-katietheme-main-menu ul.menu li.menu-item .is-active {
      background-color: #06c; }
    /* line 23, ../../sass/components/_navigation.sass */
    #block-katietheme-main-menu ul.menu li.menu-item:hover {
      background-color: #06c; }
    /* line 25, ../../sass/components/_navigation.sass */
    #block-katietheme-main-menu ul.menu li.menu-item a {
      display: block;
      text-align: center;
      padding: 16px;
      font-size: large;
      font-weight: bold;
      color: whitesmoke; }

/* line 2, ../../sass/components/_site-name.sass */
.site-info {
  display: inline-block;
  vertical-align: bottom; }

/* line 6, ../../sass/components/_site-name.sass */
.site-name {
  display: inline;
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0.5em 0 0.5em;
  margin: 0; }
  /* line 13, ../../sass/components/_site-name.sass */
  .site-name a {
    vertical-align: bottom; }

/* line 15, ../../sass/components/_site-name.sass */
.site-slogan {
  font-style: italic; }

/* line 19, ../../sass/components/_site-name.sass */
.site-logo img {
  width: 200px; }

/* line 1, ../../sass/components/_pager.sass */
.pager__item {
  display: inline; }
  /* line 4, ../../sass/components/_pager.sass */
  .pager__item a {
    display: inline-block; }
