/* line 4, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 15, ../../sass/layout/_layout--grid.sass */
.container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: auto; }
  /* line 20, ../../../bourbon/node_modules/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
  .container::after {
    clear: both;
    content: "";
    display: table; }

/* line 22, ../../sass/layout/_layout--grid.sass */
.no-sidebars #content {
  width: 100%; }
  @media screen and (min-width: 45em) {
    /* line 22, ../../sass/layout/_layout--grid.sass */
    .no-sidebars #content {
      float: left;
      display: block;
      margin-right: 3.22581%;
      width: 100%; }
      /* line 89, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_span-columns.scss */
      .no-sidebars #content:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 60em) {
    /* line 22, ../../sass/layout/_layout--grid.sass */
    .no-sidebars #content {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 100%; }
      /* line 89, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_span-columns.scss */
      .no-sidebars #content:last-child {
        margin-right: 0; } }
/* line 32, ../../sass/layout/_layout--grid.sass */
.one-sidebar.sidebar-second #content {
  width: 100%; }
  @media screen and (min-width: 45em) {
    /* line 32, ../../sass/layout/_layout--grid.sass */
    .one-sidebar.sidebar-second #content {
      float: left;
      display: block;
      margin-right: 3.22581%;
      width: 74.19355%; }
      /* line 89, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_span-columns.scss */
      .one-sidebar.sidebar-second #content:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 60em) {
    /* line 32, ../../sass/layout/_layout--grid.sass */
    .one-sidebar.sidebar-second #content {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 65.95745%; }
      /* line 89, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_span-columns.scss */
      .one-sidebar.sidebar-second #content:last-child {
        margin-right: 0; } }
/* line 42, ../../sass/layout/_layout--grid.sass */
.one-sidebar.sidebar-first #content {
  width: 100%; }
  @media screen and (min-width: 45em) {
    /* line 42, ../../sass/layout/_layout--grid.sass */
    .one-sidebar.sidebar-first #content {
      float: left;
      display: block;
      margin-right: 3.22581%;
      width: 74.19355%;
      margin-left: 25.80645%; }
      /* line 89, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_span-columns.scss */
      .one-sidebar.sidebar-first #content:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 60em) {
    /* line 42, ../../sass/layout/_layout--grid.sass */
    .one-sidebar.sidebar-first #content {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 74.46809%;
      margin-left: 25.53191%; }
      /* line 89, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_span-columns.scss */
      .one-sidebar.sidebar-first #content:last-child {
        margin-right: 0; } }
/* line 54, ../../sass/layout/_layout--grid.sass */
.two-sidebars #content {
  width: 100%; }
  @media screen and (min-width: 45em) {
    /* line 54, ../../sass/layout/_layout--grid.sass */
    .two-sidebars #content {
      float: left;
      display: block;
      margin-right: 3.22581%;
      width: 48.3871%;
      margin-left: 25.80645%; }
      /* line 89, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_span-columns.scss */
      .two-sidebars #content:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 60em) {
    /* line 54, ../../sass/layout/_layout--grid.sass */
    .two-sidebars #content {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 40.42553%;
      margin-left: 25.53191%; }
      /* line 89, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_span-columns.scss */
      .two-sidebars #content:last-child {
        margin-right: 0; } }

/* line 66, ../../sass/layout/_layout--grid.sass */
#sidebar-first {
  width: 100%; }
  @media screen and (min-width: 45em) {
    /* line 66, ../../sass/layout/_layout--grid.sass */
    #sidebar-first {
      float: left;
      display: block;
      margin-right: 3.22581%;
      width: 22.58065%;
      margin-left: -77.41935%; }
      /* line 89, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_span-columns.scss */
      #sidebar-first:last-child {
        margin-right: 0; }
      /* line 74, ../../sass/layout/_layout--grid.sass */
      .one-sidebar.sidebar-first #sidebar-first {
        margin-left: -103.22581%; } }
  @media screen and (min-width: 60em) {
    /* line 66, ../../sass/layout/_layout--grid.sass */
    #sidebar-first {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 23.40426%;
      margin-left: -68.08511%; }
      /* line 89, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_span-columns.scss */
      #sidebar-first:last-child {
        margin-right: 0; }
      /* line 81, ../../sass/layout/_layout--grid.sass */
      .one-sidebar.sidebar-first #sidebar-first {
        margin-left: -102.12766%; } }

/* line 84, ../../sass/layout/_layout--grid.sass */
#sidebar-second {
  width: 100%; }
  @media screen and (min-width: 45em) {
    /* line 84, ../../sass/layout/_layout--grid.sass */
    #sidebar-second {
      float: left;
      display: block;
      margin-right: 3.22581%;
      width: 22.58065%;
      margin-left: 0%; }
      /* line 89, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_span-columns.scss */
      #sidebar-second:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 60em) {
    /* line 84, ../../sass/layout/_layout--grid.sass */
    #sidebar-second {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 31.91489%;
      margin-left: 0%; }
      /* line 89, ../../../bourbon/node_modules/bourbon-neat/app/assets/stylesheets/grid/_span-columns.scss */
      #sidebar-second:last-child {
        margin-right: 0; } }

/* line 96, ../../sass/layout/_layout--grid.sass */
#footer {
  float: none;
  clear: both; }

/* line 101, ../../sass/layout/_layout--grid.sass */
#header, #footer,
#sidebar-first,
#sidebar-second,
#navigation {
  background: rgba(170, 170, 170, 0.2); }

/* line 108, ../../sass/layout/_layout--grid.sass */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both; }
